@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-900 text-white;
	}
}

@layer components {
	.btn-blue {
		@apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
	}
}

:root {
	--bg-color: #2c3e50;
	--bg-form: #7f8c8d;
	--frame: #45617c;
	--dark-grey: #7F8C8D;
	--bg-title-bar: #34495e;
	--red: #c0392b;
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Montserrat;
	background-color: var(--bg-color);
}
